/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
p {
  color: black;
  font-weight: bolder;
  background-color: white;
  margin-right: 25%;
  font-family: Arial;
  margin-left: 25%;
  width: auto;
  background-size: auto;
}
.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0', GradientType=0);
  background-color: #3d94f6;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  border-radius: 1px;
  font-size: 5px;
  font-weight: regular;
  padding: 2px 15px;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
  background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6', GradientType=0);
  background-color: #1e62d0;
}
.button:active {
  position: relative;
  top: 1px;
}
.button {
  font-size: 1em;
}
.sketch {
  max-width: 50px;
  padding-left: 5%;
  padding-top: 5%;
}
.sketch:hover + .sketchbig {
  width: 200px;
}
.sketchbig {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 0px;
  -webkit-transition: width 0.3s linear 0s;
  transition: width 0.3s linear 0s;
  z-index: 10;
}
#thumbnailgallery {
  overflow: auto;
  height: 450px;
}
body {
  background-size: cover;
}
.MainMenu {
  position: fixed;
  top: 5;
  z-index: 1;
}
#home {
  position: relative;
}
#gallery {
  position: relative;
}
#interests {
  position: relative;
}
#aboutme {
  position: relative;
}
#bio {
  max-width: 300px;
  margin-top: 10%;
  margin-left: 10%;
}
@media screen and (min-width: 300px) {
  .button {
    border-radius: 2px;
    font-size: 10px;
    font-weight: regular;
    padding: 3px 18px;
  }
  .sketch {
    max-width: 75px;
  }
  .sketch:hover + .sketchbig {
    width: 125px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 400px) {
  .button {
    border-radius: 2px;
    font-size: 12px;
    font-weight: regular;
    padding: 4px 20px;
  }
  #thumbnailgallery {
    height: 550px;
  }
  .sketch {
    max-width: 100px;
  }
  .sketch:hover + .sketchbig {
    width: 250px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  .button {
    border-radius: 3px;
    font-size: 14px;
    font-weight: regular;
    padding: 5px 22px;
  }
  #thumbnailgallery {
    height: 650px;
  }
  .sketch:hover + .sketchbig {
    width: 325px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .button {
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 24px;
  }
  #thumbnailgallery {
    height: 750px;
  }
  .sketch {
    max-width: 150px;
  }
  .sketch:hover + .sketchbig {
    width: 425px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  .button {
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 26px;
  }
  #thumbnailgallery {
    height: 850px;
  }
  .sketch:hover + .sketchbig {
    width: 525px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .button {
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 28px;
  }
  #thumbnailgallery {
    height: 950px;
  }
  .sketch:hover + .sketchbig {
    width: 625px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 900px) {
  .button {
    border-radius: 7px;
    font-size: 22px;
    font-weight: bold;
    padding: 9px 30px;
  }
  .sketch {
    max-width: 200px;
  }
  .sketch:hover + .sketchbig {
    width: 725px;
  }
  #thumbnailgallery {
    height: 1050px;
  }
  .page-container {
    width: 80%;
  }
}
@media screen and (min-width: 1000px) {
  .button {
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 32px;
  }
  .sketch:hover + .sketchbig {
    width: 800px;
  }
  #thumbnailgallery {
    height: 1150px;
  }
  .page-container {
    width: 80%;
  }
}
